src/Q1/data/*.mat filter=lfs diff=lfs merge=lfs -text
src/Q1/saved_state/Resnet_Q1_3.pt filter=lfs diff=lfs merge=lfs -text
src/Q1/saved_state/Resnet_Q1_4.pt filter=lfs diff=lfs merge=lfs -text
src/Q2/saved_state/fcn_resnet50_Q2_2.pt filter=lfs diff=lfs merge=lfs -text
src/Q2/model_Q2_2.onnx filter=lfs diff=lfs merge=lfs -text
# src/Q2/saved_state/fcn_resnet50_Q2_3.pt filter=lfs diff=lfs merge=lfs -text
